body {
  text-align: center;
  background-color: rgb(99, 101, 103);
  background-image: url('bg.jpg'); 
 background-attachment: fixed;  
 background-size: cover;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #010100;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  

}

.h2design{
  font-family: 'Press Start 2P',cursive;
  font-size: 2rem;
  margin: 5%;
  color:#0c0b06

}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  
  background-image: url('go.jpg');

}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
/* @media only screen and (max-width: 480px) {
  img{
    
    width:100%;
  }
} */
